/*MAIN CONTAINER*/
.login__container{
    min-height: 100vh;
    /* background-color: aquamarine; */
    background-image: url(../img/fondo_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

