@font-face {
  font-family: Proxima Nova;
  src: url("./fonts/ProximaNova/Proxima\ Nova\ Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url("./fonts/ProximaNova/Proxima\ Nova\ Bold.otf") format("opentype");
  font-weight: Bolder;
}
@font-face {
  font-family: Proxima Nova;
  src: url("./fonts/ProximaNova/Proxima\ Nova\ Light.otf") format("opentype");
  font-weight: lighter;
}
@font-face {
  font-family: Proxima Nova;
  src: url("./fonts/ProximaNova/Proxima\ Nova\ Semibold.otf") format("opentype");
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}